


table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

 tr:nth-child(even) {background-color: #e3ebefbf;}

 tr:hover {background-color: #87d1ff75;}